<!DOCTYPE html>
<html>
<head>
  <title>MusicMap</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ84LjygbqhfMnk1OT5INZNttWhBn8Jd4&sensor=true">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script>var UID = <%= current_user.uid %>;</script>
  <% else %>
    <script>var UID = null;</script>
  <% end %>
</head>
<body class="yui3-skin-sam">

<div id="user_nav">
  <% if current_user %>
      Signed in as <strong><%= current_user.name %>,
          <%= current_user.uid %></strong>!
    <%= link_to "Sign out", signout_path, :id => "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", :id => "sign_in" %>
  <% end %>
</div>

<%= yield %>
<% debug(params) if Rails.env.development? %>

</body>
</html>
